# Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs and databases
*.log
*.sqlite3
*.db

# Editor/IDE settings
.DS_Store
.vscode/
.idea/

# Environment/config files
.env
